.ItemListContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px;
    justify-content: center;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test {
    display: flex;
    align-items: center;
}

.licencias-space-bottom {
    margin-bottom: 80px;
}